.buttons{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons button{
    width: 140px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(61, 60, 60);
    border: none;
    background-color: rgb(226, 245, 247);

}

.buttons button:hover{
    color: blueviolet;
    border-bottom: green solid 5px;
    background-color: transparent;
    transition: linear 0.2s;
}