.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(255, 252, 235);
  border: 7px solid rgb(231, 208, 182);
  width: 500px;
}
.content form {
  border: 10px solid black;
  border-image: repeating-linear-gradient(
    -45deg,
    rgb(196, 40, 126),
    rgb(196, 40, 126) 10px,
    transparent 10px,
    transparent 20px,
    lightpink 20px,
    lightpink 30px,
    transparent 30px,
    transparent 40px
  );
  border-image-slice: 7;
}
.content label,
.content input,
.content textarea,
.content button {
  margin: 15px;
}
.content label {
  position: relative;
  top: 10px;
}
.content input {
  height: 33px;
  border: none;
  width: 455px;
  border-bottom: 4px dotted lightgrey;
  background-color: rgb(255, 252, 235);
}
.content textarea {
  background-color: rgb(255, 252, 235);
  resize: none;
  border: none;
  width: 455px;
  height: 250px;
  border-bottom: 4px dotted lightgrey;
  border-top: 4px dotted lightgrey;
  outline: none;
  text-decoration: underline;
  text-decoration-style: dotted;
  font-size: 30px;
}
.content button {
  font-family: "Times New Roman", Times, serif;
  outline: none;
  background-color: rgb(155, 12, 90);
  color: white;
  height: 33px;
  margin-left: 130px;
}

.content input:focus {
  outline: none;
  background-color: rgb(215, 230, 250);
  border: none;
}
