.first_layer{
    background-image: url("./task3/0.png");
    background-repeat: no-repeat;
    height: 1280px;
    width: 946px;
    background-size: contain;
}
.chip{
    background-image: url("./task3/6.png");
    height: 300px;
    background-repeat: no-repeat;
    background-position: 170px 140px;
    background-size: 160px 150px;
}
.gaika{
    background-image: url("./task3/5.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: 200px 300px;
    background-position: 250px 200px;
}
.chip2{
    background-image: url("./task3/3.png");
    height: 700px;
    background-repeat: no-repeat;
    background-size: 180px 250px;
    background-position: 560px 320px;
}
.dale{
    background-image: url("./task3/2.png");
    height: 700px;
    background-repeat: no-repeat;
    background-size: 180px 250px;
    background-position: 720px 340px;
}

.bukashka{
    background-image: url("./task3/4.png");
    height: 740px;
    background-repeat: no-repeat;
    background-size: 160px 200px;
    background-position: 660px 435px;
}

.rokfor{
    background-image: url("./task3/1.png");
    height: 800px;
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position-y: 400px;
}


